<% if current_borrower.borrowed_orders.present? %>
  <% current_borrower.borrowed_orders.each do |order| %>
    <% order.order_items.each do |item| %>
      <div class = "container" style="margin-top: 2%">
        <div class = "row">
          <div class = "col-md-1">
          </div>
          <div class = "col-md-4">
            <div class="card shadow" style="width: 30rem;">
              <%= image_tag(item.product.image, class: "card-img-top") %>
            </div>
          </div>
          <div class = "col-md-3">
            <div class = "jumbotron" style="margin-top: 8%">
              <p class="font-weight-bold"> Name: <%= item.product.name %> <br> Return Date: <%= order.expected_return_date %> <br> Amount: Rs. <%= item.total %> </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      <p style="margin-left: 22%; margin-top: 2%"> <%= link_to "Return", order_path(order), class: "btn btn-success" %> | Rs. <%= order.total_of_a_order%> </p>
  <% end %>
<% else %>
  <p class = "alert alert-danger"> Nothing to return </p>
<% end %>
