<% if @borrower.items_in_cart?%>
  <% @borrower.processing_orders.each do |order| %>
    <% order.order_items.each do |item| %>
      <div class = "container" style="margin-top: 2%">
        <div class = "row">
          <div class = "col-md-1">
          </div>
          <div class = "col-md-4">
            <div class="card shadow" style="width: 30rem;">
              <%= image_tag(item.product.image, class: "card-img-top") %>
            </div>
          </div>
          <div class = "col-md-3">
            <div class = "jumbotron" style="margin-top: 8%">
              <p class="font-weight-bold"> Name: <%= item.product.name %> <br> Size: <%= item.size %> <br> Color: <%= item.color %> <br> Amount: Rs. <%= item.total %> <br> <%= link_to "Delete", order_item_path(item) ,method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %>  <%= link_to "Edit", edit_order_item_path(item), class: "btn btn-success btn-lg" %> </p> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <%= link_to "Place Order", edit_order_path(order), class: "btn btn-success btn-lg btn-block" %>
  <% end %>
<% else %>
  <p class = "alert alert-danger"> Your cart is empty </p>
<% end %>