<table class = "table">
  <tr>
  	<th> Image: </th>
	  <th> Name: </th>
		<th> Size: </th>
		<th> Color: </th>
		<th> Price: </th>
		<th> Quantity: </th>
		<th> Borrowed Quantity: </th>
  </tr>
  	<% @borrowee.products.each do |product| %>
	    <tr>
	    	<td ><%= image_tag(product.image,style: "width: 25%",class:"img-thumbnail") %></td>
	      <td><%= product.name %></td>
	      <td><%= product.size %></td>
	      <td><%= product.color %></td>
	      <td><%= product.price %></td>
	      <td><%= product.quantity%> </td>
	     	<td><%= product.borrowed_quantity%> </td>
	      <td><%= link_to 'Destroy', product ,
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-danger "  %></td>
        <td> <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary " %> </td>
      </tr>

    	</tr>
	  <% end %>
 </table>
<%= link_to "Add Product", new_product_path, class: "btn btn-primary" %>
