<div class="form-group">
  <%= form_for @order do |f| %>
    <%= f.hidden_field :order_item_id , value: @order_item.id %> 
    <div>
      <%= f.label :name %>
      <p> <%= @order.borrower.name %> </p>
    </div>

    <div style = "margin-top: 10px;">
      <%= f.label        :phone %> 
      <%= f.phone_field :phone %> 
    </div> 

    <div>
      <%= f.label :Bought_for_days %>
      <%= f.number_field(:days) %> 
    </div>

    <div>
      <%= f.label :address%>
      <%= f.text_area(:address, size: '30x5') %>
    </div>
    

    

    <div style = "margin-top: 10px;">
      <%= f.submit %>
    </div>
  <% end %>
</div>
