<table>
  <% @orders.each_slice(3) do |slice| %>  
    <tr>
      <% slice.each do |order| %>
        <tr>
          <% order.order_items.each do |item| %>
            <td>
              <div class = "row">
                <div class = "col-md-12">
                  <div class = "thumbnail">
                    <%= order.id %>
                    <%= image_tag(item.product.image) %>
                  </div>
                  <div class = "caption", style="margin-left: 77px;">
                    <p> <%= item.product.name %> | size: <%= item.size %> | amount: <%= order.total %> | returned_on: <%= order.actual_return_date %> | payment_id: <%=order.payment.transaction_id %>   </p>
                  </div>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tr>
  <% end %>
</table>

 