<!DOCTYPE html>
<html>
  <head>
    <title>ClothRentalStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body{
        height:430px;
        width:430px; 
      }
      body::after {
        content: "";
        background-image:  url(/assets/13.jpg);
        background-repeat:no-repeat;
        opacity: 0.75;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }
  		h1{
        font-family: "Times New Roman", Times, serif;
				text-align: left;
				color: white;
				margin-top: 37px;
			}

    </style>
  </head>
 <body>
 	 <h1 class = "font-weight-bolder"> THE FUTURE OF OUR WARDDROBE <STRONG>RENTAL CLOTHES...</STRONG> </h1> 
 	<STRONG><h3><%= link_to "Borrower" , borrower_session_path, :class=> 'top-left' %></h5></STRONG> 
 	<strong><h3><%= link_to "Borrowee" , borrowee_session_path, :class=> 'top-right' %></h5></strong> 
  </body>
</html>