<div class="container" style="margin-left: 20%">
	<div class="form-group" style="font-size: large;">
		<%= form_for @search, html: {class: "pure-form"} do |f| %>
			<div class = "field">
				<%= f.label :keywords %>
				<%= f.text_field :keywords %>
			</div>

			<div class = "field">
				<%= f.label :min_price %>
				<%= f.text_field :min_price %>
			</div>

			<div class = "field">
				<%= f.label :gender %>
				<%= f.select(:gender, options_for_select([['Male','Male'],['Female','Female']]))%>
			</div>

			<div class = "field">
				<%= f.label :max_price %>
				<%= f.text_field :max_price %>
			</div>

			<div class = "action"> <%= f.submit "search" , class:"pure-button pure-button-primary"%> </div>
		<% end %>
	</div>
</div>
<%= link_to "back", products_path, class: "btn btn-primary" %>