<% if @search.search_products.empty?  %>
    <p> No Record Found </p>
  <% else %>
  <table>
  <% @search.search_products.each_slice(3) do |x| %>
  	<tr>
      <% x.each do |product| %>
        <td> 
        
          <div class = "row">
            <div class = "col-md-12">
              <div class = "thumbnail">
                <%= link_to product_path(product) do %>
                  <%= image_tag(product.image) %>
                <% end %>
                <div class = caption >
                  <p> <%= product.name %> |
                  <%= product.price %> </p>
                </div>
              </div>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
	</table>
<% end %>
<%= link_to "back", new_search_path %>

