<div class="form-group">
  <%= form_for @order_item do |f| %>
    <div>
      <%= f.label :size %>: <br>
      <% @order_item.product.size.split(',').each do |size| %> 
        <%= f.radio_button(:size, size) %>
        <%= f.label(:size, size) %>
      <% end %>
    </div>
    <div>
      <%= f.label        :quantity %> 
      <%= f.number_field :quantity %> 
    </div>
    <div>
      <%= f.label :Color %>:<br>
      <% @order_item.product.color.split(',').each do |color| %>
        <%= f.radio_button(:color, color) %>
        <%= f.label(:color, color) %>
      <% end %> 
    </div>
    <div>
        <%= f.submit %>
      </div>
  <% end %>
</div>