<h1 style="margin-left: 26%">Add Products </h1>
<div class="container" style="margin-left: 20%">
	<div class="form-group" style="font-size: large;">
		<%= form_for(@product, local: true) do |f| %> 
			<div>
				<%= f.label :name  %>
				<%= f.text_field :name%>
			</div>
			<div>
				<%= f.label :image, style: "margin-bottom: 11px;  margin-top: 15px;" %>
				<%= f.file_field :image%>
			</div>
			<div>
				<%= f.label :size, style: "margin-bottom: 11px; margin-top: 15px;"%>
				<%= f.check_box :size_xs%>
				<%= f.label(:xs, "Xtra-Small") %>
				<%= f.check_box :size_s%>
				<%= f.label(:s, "Small") %>
				<%= f.check_box :size_m %>
				<%= f.label(:m, "Medium") %>
				<%= f.check_box :size_l %>
				<%= f.label(:l, "Large") %>
				<%= f.check_box :size_xl %>
				<%= f.label(:xl, "Xtra-Large") %>
			</div>
			<div>
				<%= f.label :color, style: "margin-bottom: 11px; margin-top: 15px;"%>
				<%= f.text_field :color%>
			</div>
			<div >
		    <%= f.label :gender, style: "margin-bottom: 11px; margin-top: 15px;" %>
		    <%= f.select(:gender, options_for_select([['Male','Male'],['Female','Female']]))%>
  		</div>
  		<div>
				<%= f.label :quantity, style: "margin-bottom: 11px; margin-top: 15px;"%>
				<%= f.text_field :count%>
			</div>
			<div>
				<%= f.label :price, style: "margin-bottom: 11px; margin-top: 15px;"%>
				<%= f.text_field :price %>
			</div>
			<div >
				<%= f.submit  %>
			</div>

		<% end %> 
	</div>
</div>