<h3> <%=link_to "filters", new_search_path %> </h3>
<table>
  <% @products.each_slice(3) do |slice| %>   
    <tr>
      <% slice.each do |product| %>
        <td> 
          <div class = "row">
            <div class = "col-md-12">
              <div class = "thumbnail">
                <%= link_to product_path(product) do %>
                  <%= image_tag(product.image) %>
                <% end %>
                <div class = "caption">
                  <p> <%= product.name %> |
                  <%= product.price %> </p>
                </div>
              </div>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table> 