<div class = "row">
	<div class = "col-md-4">
		<h5> Name: </h5>
		<h5> Size: </h5>
		<h5> Color: </h5>
		<h5> price: </h5>
	</div>
	<div class = "col-md-4">
		<%= @product.name %> <br>
		<%= @product.size %> <br>
    <%= @product.color %> <br>
		<%= @product.price%> <br>
	</div>
	<div class = "col-md-4">
		<% unless @product.available? %>
			<p> Out Of Stock </p>
		<% else %>
			<%= render 'order_items/new' %>
		<% end %> 
	</div>
</div>
