<div class = "row">
	<div class = "col-md-4">
		<%= image_tag(@product.image, class:"img-thumbnail") %>
	</div>
	<div class = "col-md-4">
		<table class = "table">
  		<tr>
		    <th>Name</th>
		    <th>Size</th>
		    <th>Color</th>
		    <th>price</th>
  		</tr>
  		<tr>
		    <td><%= @product.name %></td>
		    <td><%= @product.size %></td>
		    <td><%= @product.color %></td>
		    <td><%= @product.price %></td>
		  </tr>
		</table>
		
	</div>
	<div class = "col-md-1" >
	</div>
	<div class = "col-md-3">
		<% unless @product.available? %>
			<p> Out Of Stock </p>
		<% else %>
			<%= render 'order_items/new' %>
		<% end %> 
		
	</div>
</div>
<%= link_to "back", products_path %>

